{{#partial "content"}}

    <h1>List of teams in competition:</h1>
        {{#if team}} <!--if teams exist, then -->
            <div class="row">
            {{#each team }} <!--loop-->
                <div class="col-md-4">
                    <div class="well">
                        <h3>{{ teamName }}</h3><br>
                        <p><a href="/team/{{id}}"><button class="btn btn-default btn-sm center-block">View this team</button></a></p>
                    </div>
                </div>
            {{/each}}
            </div>

        {{else}} <!--no teams!-->

            <p>No teams have been entered into the Hack-A-Thon</p>

        {{/if}}

    <a href="/team/new"><button type="submit" class="btn btn-default">Create a new Team</button></a>

{{/partial}}

{{> layout.hbs}}