{{#partial "content"}}

    <h1>Team list</h1>
    {{#if team}} <!--if teams exist, then -->
        {{#each team }} <!--loop-->
            <p>Current Team:</p>
            <p>{{ teamName }} Team</p> <!--show-->
            <p>{{ teamDescription }} Team</p> <!--show-->
            <p>{{ teamMember }} Team</p> <!--show-->

        {{/each}}
    {{else}} <!--no teams!-->
        <p>No teams have been entered into the competition!</p>
    {{/if}}

    <a href="/teams/new"><button type="submit" class="btn btn-default">Create a new Team</button></a>


{{/partial}}

{{> layout.hbs}}