<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}Blog{{/block}}</title>

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/css/main.css">

</head>
    <body>
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="/">Home</a></li>
    <li role="presentation"><a href="/about">About the Hack-A-Thon</a></li>
</ul>
    <div class="page container">
        <div class="page-header">
            <h1>Hack-A-Thon Portland 2017</h1>
        </div>

    <div class="col-md-12">
        {{#block "content"}}
        {{/block}}
    </div>
    </div>
{{#block "footer"}}
    <footer class="footer">
        <div class="container">
        </div>
    </footer>
    </body>
    </html>
{{/block}}