{{#partial "content"}}

    <h1>WARNING</h1>

    This will delete all Teams and Members
    Do you wish to proceed?

    <a href="/"><button type="button" class="btn btn-default center-block">No, take me to Home page</button></a><br><br>
    <a href="/team/delete"><button type="button" class="btn btn-default center-block">Yes, destroy EVERYTHING!!!</button></a>



{{/partial}}

{{> layout.hbs}}