{{#partial "content"}}
<div class="well">
    <h1>About The Hack-A-Thon</h1>

    <h2>Our mission</h2>
    <p>Sample text #1:</p>

    <p>At Hack-A-Thon Portland 2017, we believe that a plan is a powerful tool. Reaching your long-term financial objectives hinges on having the right plan -- one that fits your unique circumstances and grows with you. Planning your financial future can be a daunting task. That's where Hack-A-Thon Portland 2017 comes in. We're trained, licensed professionals, and we can draw on years of financial planning experience when creating a long-term strategy. Whether your concern is paying too much in taxes or not having enough money to last throughout your retirement, we can help you.</p>

    <p>Please call today if you think your plan is out-of-date. Most people need to update their financial plan each year to help ensure that it is in step with their life. If it's been a while, act today.</p>

    <p>Sample text #2:</p>

    <p>Hack-A-Thon Portland 2017 is a full-service financial consulting firm dedicated to helping our clients build wealth and protect their hard-earned assets. Our firm is completely independent, so our loyalty belongs exclusively to our clients -- not to a parent company.</p>

    <p>Our independence enables us to establish working relationships with a number of industry-leading brokerage firms and insurance providers whose products we leverage to create customized client portfolios. We recommend only those products and services that can be tailored to suit our clients' unique needs.</p>

    <p>OPTIONAL / OR</p>
    <p>Our firm works exclusively on fee-based compensation. This approach takes commissions out of the equation and helps ensure that you receive objective advice that fits your particular needs and situation, not some hidden agenda. It also means that we are here for you, ready to offer ongoing financial expertise whenever you need it, whether or not you are ready to invest.</p>

    <p>For more information about our firm and the services we offer, contact us today.</p>

    <p>Sample text #3:</p>

    <p>Hack-A-Thon Portland 2017 is a full-service financial firm committed to helping people achieve their financial goals. We offer a wide range of financial products and services to individuals and business owners. By providing sound financial information, we believe you will be better able to identify your goals and make sound decisions to help reach them.</p>
    <p>Please call us at [phone number] if you have any questions about our firm or the range of financial products and services we provide. Our firm has a relationship with a variety of financial services companies, so if we don't have it, we know someone who does.</p>

    <p>Sample text #4:</p>

    <p>Hack-A-Thon Portland 2017 is committed to helping you pursue your long-term financial goals. As specialists in retirement planning and estate conservation, we can help you answer the questions you may have about your financial future, such as:</p>
    <ul>
        <li>Will I be able to retire early?</li>
        <li>How much money will I need in order to retire?</li>
        <li>How can I get the most out of my 401(k)?</li>
        <li>Should I have a traditional IRA or a Roth IRA?</li>
        <li>How can I position my investments for higher potential returns while reducing risk?</li>
        <li>How can I "inflation-proof" my investment income?</li>
        <li>Do I need disability income insurance? Long-term care insurance?</li>
        <li>How can I ensure that my children receive as much as possible from my estate?</li>
        <li>What do I need to know about wills, trusts, and probate?</li>
        <li>We offer financial products and services tailored to your individual needs. (Company) is committed to you for the long term.</li>
    </ul>
    <p>Sample text #5:

    <p>Many people, especially women, believe that their financial well-being is linked solely to their ability to earn a high income. True financial independence, however, has much more to do with understanding and taking advantage of the finances you have. It's more about setting financial goals and learning to use financial strategies that will help you meet your objectives.

    <p>My goal as a financial professional is to help you plan for financial security. Whether your goals involve building wealth through investing, funding a child's college education, planning for a comfortable retirement, or protecting your estate, I can help you develop a roadmap to reach your goals and make wise decisions to help improve your financial situation.

    <p>The process I follow in completing a total financial strategy consists of:

    <p>Gathering and analyzing your financial situation to develop a clear picture of your specific needs, assets, liabilities, and risk tolerance;
    Designing a financial strategy that takes into account the full range of needs you have now, and those needs you may have in the future; and
    Periodically reviewing your strategy, consulting with you to make appropriate adjustments, and assisting you in keeping your plan on track.

</div>


{{/partial}}

{{> layout.hbs}}