{{#partial "content"}}

    <h1>List of teams in competition:</h1>
        {{#if teams}} <!--if teams exist, then -->

            {{#each teams }} <!--loop-->

                <h3>Team {{ teamName }}:</h3><br>
                <p><a href="/teams/{{teamId}}">read more...</a></p>

            {{/each}}

        {{else}} <!--no teams!-->

            <p>No teams have been entered into the Hack-A-Thon</p>

        {{/if}}

    <a href="/teams/new"><button type="submit" class="btn btn-default">Create a new Team</button></a>

{{/partial}}

{{> layout.hbs}}