{{#partial "content"}}

    {{#if editTeam}}
        <h1>Edit this Post!</h1>
        <form action="/teams/{{editTeam.id}}/update" method="post">
            <label for="teamName">Edit this team's name</label>
            <input id="teamName" name="teamName" type="text" value="{{editTeam.teamName}}">
        </form>
    {{else}}
    <h1>Add a new Team!</h1>

    <h2>Team Entry Form</h2>

    <form action="/teams/new" method="post">
        <label for="teamName">Hack-A-Thon Team Name</label><br>
        <input id="teamName" name="teamName" type="text"><br>
        <label for="teamDescription">Description</label><br>
        <input id="teamDescription" name="teamDescription" type="text"><br>
        <label for="teamMember">Member</label><br>
        <input id="teamMember" name="teamMember" type="text"><br>
        <label for="teamMember">Member</label><br>
        <input id="teamMember" name="teamMember" type="text"><br>
        <label for="teamMember">Member</label><br>
        <input id="teamMember" name="teamMember" type="text"><br>
        <label for="teamMember">Member</label><br>
        <input id="teamMember" name="teamMember" type="text"><br>
        <label for="teamMember">Member</label><br>
        <input id="teamMember" name="teamMember" type="text"><br>
        <label for="teamMember">Member</label><br>
        <input id="teamMember" name="teamMember" type="text"><br>


        <!--<h3>Please select any items that may apply</h3><br>-->
        <!--<input type="checkbox" name="listItem" value="ada">ADA Access Required<br>-->
        <!--<input type="checkbox" name="listItem" value="security">Security<br>-->
        <!--<input type="checkbox" name="listItem" value="extrabooth">Extra Booth for Staff<br>-->
        <!--<input type="checkbox" name="listItem" value="glutenfree">Gluten Free Snacks<br>-->
        <!--<input type="checkbox" name="listItem" value="vegan">Vegan Snacks<br>-->
        <!--<input type="checkbox" name="listItem" value="water">Extra Water<br>-->
        <!--<input type="checkbox" name="listItem" value="electricity">Additional Electrical Requirements<br>-->
        <!--<input type="checkbox" name="listItem" value="meals">Meals Delivered<br>-->
        <!--<input type="checkbox" name="listItem" value="vip">VIP Happy Hour<br>-->

    {{/if}}
        <button type="submit" class="btn btn-default">Create this Team</button>
    </form>
{{/partial}}

{{> layout.hbs}}