{{#partial "content"}}
    <p>Team</p>
    <p>{{ team.teamName }}</p>
    <h5>Created At:</h5>
    <p> {{ team.teamCreatedAt }}</p>
    <p>
        <a href="/teams/{{team.id}}/update">Edit this Team</a>
        <a href="/teams/{{team.id}}/delete">DELETE this Team (no undo)</a>
    </p>
{{/partial}}

{{> layout.hbs}}